/*
|--------------------------------------------------------------------------
| add 'fonts'
|--------------------------------------------------------------------------
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*
|--------------------------------------------------------------------------
| add 'root' variables
|--------------------------------------------------------------------------
*/
:root {
  --black: #000;
}

/*
|--------------------------------------------------------------------------
| add '*' selector
|--------------------------------------------------------------------------
*/
* {
  font-family: "Inter", sans-serif;
}

/*
|--------------------------------------------------------------------------
| add common css, start
|--------------------------------------------------------------------------
*/
.my-10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
/*
|--------------------------------------------------------------------------
| add common css, end
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
| 'bootstrap' css overloading start
|--------------------------------------------------------------------------
*/
.btn {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  border-radius: 0.5rem !important;
}
/*
|--------------------------------------------------------------------------
| 'bootstrap' css overloading end
|--------------------------------------------------------------------------
*/
